.mainContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  border: 2px dashed rgb(197, 197, 197);
  margin: 1rem;
  padding: 1rem;
  border-radius: 10px;
  height: 90vh;
}

@media (max-width: 768px) {
  .mainContainer {
    flex-direction: column;
  }
}

.leftContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  height: 100%;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
  color: #329c89;
}

.description {
  font-size: 1rem;
  margin: 0;
  color: gray;
}

.loginImg {
  width: 300px;
  height: auto;
}
