.label {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.input {
  padding: 1rem 0.3rem;
  outline: none;
  border: none;
  border-radius: 5px;
  width: 100%;
}

.input:focus {
  border: none;
  outline: none;
}

.inputContainer {
  display: flex;
  min-width: 200px;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  border-radius: 5px;
  padding: 0 1rem;
  border: 1px solid black;
}
