.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 70vh;
  overflow-y: scroll;
  background-color: #fafafa;
  border-radius: 10px;
  gap: 5px;
  border: 1px solid black;
  padding: 20px;
}
