.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  border-bottom: 1px solid black;
}

.content {
  display: flex;
  gap: 1rem;
}

.todoList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 500px;
  margin: auto;
  gap: 1rem;
}

.todoCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 500px;
  margin: auto;
  gap: 1rem;
}
