.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 10px;
}

.editContainer {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.upperContainer {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  cursor: pointer;
}

.title {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
}

.description {
  font-size: 0.8rem;
  margin: 0;
  color: gray;
}

.bottomContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.deleteModal {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: white;
  padding: 1rem 2rem;
  border-radius: 10px;
}

.pfp {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: rgb(218, 218, 218);
  color: rgb(37, 37, 37);
}
