.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80vh;
  overflow-y: scroll;
  border-radius: 10px;
  gap: 5px;
  padding: 0px 10px 40px 10px;
  background-color: rgb(240, 240, 240);
  padding: 0rem 1rem 1rem 1rem;
}

.upperContainer {
  display: flex;
  flex-direction: column;
  flex-direction: column;
  position: sticky;
  background-color: rgb(240, 240, 240);
  border-bottom: 1px solid #e0e0e0;
  top: 0;
  padding: 0.5rem;
}

.statusContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem;
}

.todoCount {
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgb(250, 250, 250);
  color: #329c89;
}

.editModal {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: white;
  padding: 1rem 2rem;
  border-radius: 10px;
}

.bottomContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
