.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
  color: #329c89;
}

.content {
  display: flex;
  gap: 1rem;
}

@media (max-width: 768px) {
  .content {
    /* flex-direction: column; */
    width: 100%;
  }
}

.todoList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* max-width: 500px; */
  margin: auto;
  gap: 1rem;
}
